<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" href="../static/css/styles.css">
    <title>Quên mật khẩu</title>
</head>
<body>
    <div class="login-form-container">
        <a href="#" class="logo"><i class="fas fa-book"></i>Library</a>
        <form action="">
            <h3>Lấy lại mật khẩu</h3>
            <select name="" id="">
                <option value="">E-mail</option>
                <option value="">Số điện thoại</option>
            </select>
            <input type="password" name="" class="box" placeholder="" id="">
            <input type="submit" value="Gửi yêu cầu" class="btn">
        </form>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
    <script src="../static/css/styles.css"></script>
</body>
</html>