<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" href="../static/css/styles.css">
    <title>Đăng nhập</title>
</head>
<body>
    <div class="login-form-container">
        <a href="#" class="logo"><i class="fas fa-book"></i>Library</a>
        <form action="">
            <h3>Đăng nhập</h3>
            <span>Tên đăng nhập</span>
            <input type="text" name="" class="box" placeholder="Enter Username" id="username">
            <span>Mật khẩu</span>
            <input type="password" name="" class="box" placeholder="Enter Password" id="password">
            <div class="checkbox">
                <input type="checkbox" name="" id="remember-me">
                <label for="remember-me">Ghi nhớ đăng nhập</label>
            </div>
            <a href="#" class="btn btn-login">Đăng nhập</a>
            <p>Quên mật khẩu ? <a href="forgetpass.html">Lấy lại mật khẩu</a></p>
            <p>Chưa có  tài khoản ? <a href="./singup.html">Đăng kí</a></p>
        </form>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
    <script src="../static/css/styles.css"></script>
    <script src="../static/js/login.js"></script>
</body>
</html>