<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" href="../static/css/styles.css">
    <title>Đăng kí</title>
</head>
<body>
    <div class="login-form-container">

        <a href="#" class="logo"><i class="fas fa-book"></i>Library</a>
        <form class="sign-up" action="">
            <h3>Đăng kí</h3>
            <span> Họ và tên</span>
            <input type="text" name="" class="box" placeholder="Enter name" id="name">
            <span>Ngày sinh</span>
            <input type="date" name="" class="box" placeholder="Enter date" id="date">
            <span>Số điện thoại</span>
            <input type="text" name="" class="box" placeholder="Enter phone" id="phone">
            <span>Email</span>
            <input type="email" name="" class="box" placeholder="Enter email" id="email">
            <span>Tên đăng nhập</span>
            <input type="text" name="" class="box" placeholder="Enter Username" id="username">
            <span>Mật khẩu</span>
            <input type="password" name="" class="box" placeholder="Enter Password" id="password">
            <span>Nhập lại mật khẩu</span>
            <input type="password" name="" class="box" placeholder="Enter Password" id="password2">
            <div class="checkbox">
                <input type="checkbox" name="" id="allow">
                <label for="allow">Tôi đồng ý với các điều khoản</label>
            </div>
            <a href="#" class="btn btn-sign">Đăng kí</a>
            <p>Có  tài khoản ? <a href="./login.html">Đăng nhập</a></p>
        </form>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
    <script src="../static/css/styles.css"></script>
    <script src="../static/js/signup.js"></script>
</body>
</html>